nav{ 
	font-family: 'Titillium Web', sans-serif;
}

header{
    margin-top: 30px;
}

#comentarios{ 
	background: #d6eaf8;
	font-family: 'Titillium Web', sans-serif;
	padding: 50px 0 30px 0;
	text-align: center;
	margin-top: 40px;
}

h1 {
	font-family: 'Sansita Swashed', cursive;
}

h2 {
	font-family: 'Sansita Swashed', cursive;
}

.italic{
 font-style: oblique;  
}

*{
	margin: 0;
	padding: 0;
}


footer{
	background: #d6eaf8;
}


